<style>
  .container {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
  }

  .value {
    background-color: #8257e6;
    border-radius: 6px;
    color: #FFF;
    margin: 0px 1px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 15px;
  }

  .level {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 370px;
  }

  .answers {
    display: flex;
    justify-content: space-between;
    width: 370px;
  }
</style>

<div class="container">
  <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>

  <h3>{{title}}</h3>
  <br />
  <strong>{{description}}</strong>

  <div class="level">
    <span>Pouco provável</span>
    <span>Muito provável</span>
  </div>

  <div class="answers">
    <a class="value" href="{{link}}/1?id={{id}}">1</a>
    <a class="value" href="{{link}}/2?id={{id}}">2</a>
    <a class="value" href="{{link}}/3?id={{id}}">3</a>
    <a class="value" href="{{link}}/4?id={{id}}">4</a>
    <a class="value" href="{{link}}/5?id={{id}}">5</a>
    <a class="value" href="{{link}}/6?id={{id}}">6</a>
    <a class="value" href="{{link}}/7?id={{id}}">7</a>
    <a class="value" href="{{link}}/8?id={{id}}">8</a>
    <a class="value" href="{{link}}/9?id={{id}}">9</a>
    <a class="value" href="{{link}}/10?id={{id}}">10</a>
  </div>

  <br />
  <br />

  <strong>Sua opnião é muito importante para nós</strong>
  <h3>Equipe | <strong>NPSer</strong></h3>
</div>
